/Undertale/*
!/Undertale/credits.txt
!/Undertale/data.win
!/Undertale/*.ogg
!/Undertale/*.dll
!/Undertale/options.ini
!/Undertale/splash.png
!/Undertale/Undertale.exe
/EmbeddedTextures/
/Extras/
/Save_Files/
/Strings/
/TranslaTale.v0.8/
/UndertaleModTool_v0.6.1.0/
/UT_Dialogue_Sim/
data-backup.win
DeltaPatcher.exe
*.lnk